<template>
  <div class="walk">
    <img class="walk-image" :src="dir + images[currentIndex]">
  </div>
</template>

<script>
export default {
  name: 'sprite-walk',
  props: ['status'],
  watch: {
    status (v) {
      if (v === 'walk') {
        this.walk()
      } else {
        this.stop()
      }
    }
  },
  data() {
    return {
      dir: './src/sprite2d/walk/',
      images: ['walk_1.png', 'walk_2.png', 'walk_3.png'],
      currentIndex: 0,
      reverse: false,
      tick: 200,
      loop: null
    }
  },
  methods: {
    walk () {
      this.reverse = false
      this.loop = setInterval(() => {
        // 애니메이션 거꾸로
        this.currentIndex += this.reverse ? -1 : 1

        // 0 또는 MAX 이미지 까지 도달한 경우 reverse 값 토글
        if (this.images.length - 1 <= this.currentIndex || this.currentIndex <= 0) {
          this.reverse = !this.reverse
        }
      }, this.tick)
    },
    stop () {
      // 동작중이던 loop 종료
      this.clear()

      // 0번 이미지가 아닌 경우 0번 이미지로 되돌리기
      if (this.currentIndex !== 0) {
        // tick은 기본 애니메이션 보다 2배 빠르게 되돌림
        this.loop = setInterval(() => {
          if (this.currentIndex > 0) {
            // 0이 될 때 까지 감소
            this.currentIndex--
          } else {
            this.clear()
          }
        }, this.tick / 2)
      }
    },
    clear() {
      clearInterval(this.loop)
    }
  }
}
</script>

<style>
.walk-image {
  width: 90px;
  height: 100px;
}
</style>
