<template>
  <div id="app">
    <sprite :status="status"></sprite>
    <div>
      <button @click="changeStatus">{{ currentStatus }}</button>
    </div>
  </div>
</template>

<script>
import walk from './sprite2d/walk/walk.vue'

export default {
  name: 'app',
  data () {
    return {
      status: ''
    }
  },
  components: {
    'sprite': walk
  },
  computed: {
    currentStatus () {
      return this.status === 'walk' ? '걷기' : '멈춤'
    }
  },
  methods: {
    changeStatus () {
      const status = this.status
      if (status === 'walk') {
        this.status = 'stop'
      } else {
        this.status = 'walk'
      }
    }
  }
}
</script>

<style>
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
}

#app button {
  outline: none;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: .25s;
}

#app button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
</style>
